.headerBox
  .headerBox__upperBox
    .headerBox__upperBox__furimaIcon
      = image_tag "logo.png", hight:"45px", width: "140px"
    .headerBox__upperBox__search
      = form_tag("#", method: :get) do
        = text_field_tag("text", "",{placeholder: "キーワードから探す", class: "headerBox__upperBox__search__text"})
    .headerBox__upperBox__searchIcon 
      = image_submit_tag "icon-search 1.png",width: "40px", height: "40px"
  .headerBox__lowerBox  
    .headerBox__lowerBox__leftBox
      .headerBox__lowerBox__leftBox__category
        カテゴリー
      .headerBox__lowerBox__leftBox__brand
        ブランド
    .headerBox__lowerBox__rightBox
      .headerBox__lowerBox__rightBox__login
        ログイン
      .headerBox__lowerBox__rightBox__registration
        新規会員登録
.TopImage
  = image_tag "bg-mainVisual-pict_pc.jpg", height:"550px", width: "100%"
  .TopImage__mainMessage
    人生を変えるフリマアプリ
  .TopImage__subMessage
    FURIMAはだれでもかんたんに出品・購入できる
    フリマアプリです
  .TopImage__app-googleBox
    .TopImage__app-googleBox__app-storeIcon
    = image_tag "AppleStore-icon-438x129.png", width: "180px", height: "54px"
    .TopImage__app-googleBox__google-playIcon
    = image_tag "google-play-badge.png",width: "200px", height: "70px"
.MiddleTop
  FURIMAが選ばれる3つの理由
.PicBox
  .PicBox__ImageLeft
    = image_tag "pict-reason-01.jpg", height:"300px", width: "300px"
    .PicBox__ImageLeft__PicNum1
      1
  .PicBox__ImageMiddle
    = image_tag "pict-reason-02.jpg", height:"300px", width: "300px"

    .PicBox__ImageMiddle__PicNum2
      2
  .PicBox__ImageRight
    = image_tag "pict-reason-03.jpg", height:"300px", width: "300px"

    .PicBox__ImageRight__PicNum3
      3
.MainMessageBox
  .MainMessageBox__LeftMessage
    3分 ですぐに出品
  .MainMessageBox__MiddleMessage
    シンプル で使いやすい
  .MainMessageBox__RightMessage
    手数料 業界最安
.SubMessageBox
  .SubMessageBox__LeftSubText
    スマホで入力するだけで簡単に出品できる！
  .SubMessageBox__MiddleSubText
    めんどくさい入力は必要なく、検索も購入もスムーズ！
  .SubMessageBox__RightSubText
    最大3%でお得に出品&購入！
