.confirmation
  .confirmation__header
    = image_tag "logo.png", size: "185x49"

  .confirmation__contents__main
    .confirmation__contents__main__middle
      .confirmation__contents__main__middle__head
        購入内容の確認
      .confirmation__contents__main__middle__heart
        .confirmation__contents__main__middle__heart__upload-box
          .confirmation__contents__main__middle__heart__upload-box__title
            出品画像
          .confirmation__contents__main__middle__heart__upload-box__explain
            最大10枚までアップロードできます
        
        .confirmation__contents__main__middle__heart__delivery
          配送について
          .confirmation__contents__main__middle__heart__delivery__sell-form-box
            配送料の負担
            .confirmation__contents__main__middle__heart__delivery__sell-form-box__area
              発送元の地域
            .confirmation__contents__main__middle__heart__delivery__sell-form-box__date
              発送までの日数
  .confirmation__footer
    .confirmation__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'メルカリ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.
