.signup_body
  .signup_hedar
    .signup_hedar_img
      = image_tag 'logo.png'
  .signup-panel
    .signup-panel_main
      %p.signup-panel_title--address 会員登録完了
      #new_user
        .signup-panel_side
          .thankyou
            %p ありがとうございます。
            %p 会員登録が完了しました。
          .sign-up-btn
            %button{type: "submit",class: "btn-red"}
              = link_to "トップへ戻る", root_path
.confirmation__footer
  .confirmation__footer__content
    = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
    = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
    = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
    %br
    = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
    %br
    %small © FURIMA, Inc.