.a
  = render 'layouts/header'
  .mypage
    .mypage__free
      .mypage__free__icon
        .mypage__free__icon__box
          .mypage__free__icon__box__profile
            = image_tag 'member_photo_noimage_thumb.png', height: '60px', width: '60px'
            .mypage__free__icon__box__profile__name
              = current_user.nickname
              さん
            .mypage__free__icon__box__profile__detail
              評価数0 出品数0
            .mypage__free__card
              = link_to '➕ クレジットカード登録', "/cards/new", class: "method"
      .mypage__free__item
        出品商品
      .mypage__free__items
        =image_tag  "a007.png"
        =image_tag  "a001.png"
        =image_tag  "a004.png"
        =image_tag  "a001.png"
        =image_tag  "a004.png"
        =image_tag  "a007.png"
        =image_tag  "a004.png"
        =image_tag  "a007.png"
        =image_tag  "a001.png"
        =image_tag  "a007.png"
        =image_tag  "a001.png"
        =image_tag  "a004.png"
        =image_tag  "a001.png"
        =image_tag  "a004.png"
        =image_tag  "a007.png"
        =image_tag  "a004.png"
        =image_tag  "a007.png"
        =image_tag  "a001.png"

  = render 'layouts/footer'