.confirmation
  .confirmation__header
    = image_tag "logo.png", size: "185x49"

  .confirmation__contents
    .confirmation__contents__box
      .confirmation__contents__box__head
        購入内容の確認
      .confirmation__contents__box__items
        .confirmation__contents__box__items__inner
          .confirmation__contents__box__items__inner__box1
            .confirmation__contents__box__items__inner__image
              = image_tag "logo.png", size: "80x80"
            .confirmation__contents__box__items__inner__detail
              .confirmation__contents__box__items__inner__detail__name
                %p サロンドアルファードファーハンドバッグ
              .confirmation__contents__box__items__inner__detail__price
                %p ¥5000 (税込み)送料込み
      .confirmation__contents__box__info
        .confirmation__contents__box__info__


  .confirmation__footer
    .confirmation__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.
