.l-chapter-head
  クレジットカード情報入力
.l-single-inner 
  .form-group
    .label
      カード番号
    .form-reqire
      必須
    = form_for 'aaa' do |f|
      = f.text_field :content, class: 'hoge-1', placeholder: '半角数字のみ'
  .form-group1
    .label1
      有効期限
      = form_for '＃' do |f|
        = f.select :theme, [ ["02"], ["03"],["04"], ["05"],["06"], ["07"],["08"], ["09"],["10"], ["11"],["12"] ], prompt: "01",class:"oooo"
        月
      = form_for '＃' do |f|
        = f.select :theme, [ ["21"], ["22"],["23"], ["24"],["25"], ["26"],["27"], ["28"],["29"], ["30"] ], prompt: "20"
        年
    .form-reqire1
      必須
  .form-group
    .label
      セキュリティーコード
    .form-reqire
      必須
    = form_for '#' do |f|
      = f.text_field :content, class: 'hoge-1', placeholder: 'カード背面４桁もしくは３桁番号'
  .form-last
    = link_to "追加する" 
    
        