.card_body
  .top_body
    .headerBox
      .headerBox__upperBox
        .headerBox__upperBox__furimaIcon
          = link_to root_path do
            = image_tag "logo.png", hight:"60px", width: "160px"
        .headerBox__upperBox__search
          = form_tag("#", method: :get) do
            = text_field_tag("text", "",{placeholder: "キーワードから探す", class: "text111"})
          .headerBox__upperBox__search__searchIcon 
            = image_submit_tag "icon-search 1.png",width: "50px", height: "44px"
      .headerBox__lowerBox  
        .headerBox__lowerBox__leftBox
          .headerBox__lowerBox__leftBox__category
            カテゴリー
          .headerBox__lowerBox__leftBox__brand
            ブランド
        .headerBox__lowerBox__rightBox
          .headerBox__lowerBox__rightBox__login
            - if user_signed_in?
              .headerBox__lowerBox__rightBox__login__registration
                = link_to "ログアウト",destroy_user_session_path, method: :delete, class: "logout_btn"
              .headerBox__lowerBox__rightBox__login__registration
                = link_to "マイページ",user_path(current_user),class: "logout_btn"
            - else
              .headerBox__lowerBox__rightBox__login__registration
                = link_to "ログイン", new_user_session_path, class: "login_btn"
              .headerBox__lowerBox__rightBox__login__registration
                = link_to "新規登録", new_user_registration_path,class: "login_btn"
      .headerBox__lowerBox__pan
        - breadcrumb :registration 
        = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"    

  .credit-update
    .credit-update__box
      .credit-update__label
        クレジットカード情報入力
      .card-form
        .card-form__box
          = form_for(cards_path, method: :post, html: { class: "form_card" }, name: "inputForm") do |f|
            .card-form__box__number
              %label{class:'box-group--label', for: 'card_number'} カード番号
              %span.input-require
                必須
              = f.text_field :number, class: 'card-number--input', type: "text", id: 'card_number', maxlength: "16", placeholder: "半角数字のみ"
              .registration-error{type: "hidden", value: "必須項目です"}
              %ul.card-list
                -# assets/imagesにimageを設置しており、それをimage_tagで呼び出しています。
                %li.card-list--item{ style: "margin-left: 0;"}
                  = image_tag "card.PNG",size: "377x70"
                
            .card-form__box__expire
              %label.box-group--label 有効期限
              %span.input-require
                必須
              .card-expire
                .card-expire__select-month
                  %select#exp_month{name: "exp_month", type: "text"}
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %option{value: "5"}05
                    %option{value: "6"}06
                    %option{value: "7"}07
                    %option{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                  %i.card-form-expire-icon
                    -# = image_tag "arrow-bottom.png", size:"16x10"
                  %span{class: "month"} 月
                .card-expire__select-year
                  %select#exp_year{name: "exp_year", type: "text"}
                    %option{value: "2019"}19
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                  %i.card-form-expire-icon
                    -# = image_tag "arrow-bottom.png", size: "16x10",class:"arrow-bottom-icon6"
                  %span{class:"year"} 年

            .card-form__box__security-code
              %label.box-group--label{for: "cvc"} セキュリティーコード
              %span.input-require
                必須
              = f.text_field :cvc, class: 'payment__security-code', type: "text", id: "cvc", maxlength: "4" ,placeholder: "カード背面４桁もしくは３桁の番号"
              .question-form
                %span.question-form__mark ?
                %span.question-form__text 
                  カード裏面の番号とは？
            #card_token
            = submit_tag "追加する", class: "card-form__box__add", id: "token_submit", type: 'button'
  .exhibition__footer
    .exhibition__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.