%label 登録クレジットカード情報
%br
= "**** **** **** " + @default_card_information.last4
%br
- exp_month = @default_card_information.exp_month.to_s
- exp_year = @default_card_information.exp_year.to_s.slice(2,3)
= exp_month + " / " + exp_year

= form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
  %input{ type: "hidden", name: "card_id", value: "" }
  %button 削除する
.payment
  .payment__header
    = link_to root_path do
      = image_tag "logo.png", size: "185x49"

  .payment__contents
    .payment__contents__box
      .payment__contents__box__method
        クレジットカード一覧
      .payment__contents__box__cards
        .payment__contents__box__number
          %p "**** **** **** " + "1234"
          %br
          %p 3/21
        .payment__contents__box__cards__delete
          = link_to "削除", "/", class: "abab"

  .payment__footer
    .payment__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.
