.payment
  .payment__header
    = link_to root_path do
      = image_tag "logo.png", size: "185x49"

  .payment__contents
    .payment__contents__box
      .payment__contents__box__method
        クレジットカード一覧
      .payment__contents__box__cards
        .payment__contents__box__number
          %p "**** **** **** " + "1234"
          %br
          %p 3/21
        .payment__contents__box__cards__delete
          = link_to "削除", "/", class: "abab"

  .payment__footer
    .payment__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.
