.confirmation
  .confirmation__header
    = link_to root_path do
      = image_tag "logo.png", size: "185x49"
  .confirmation__contents
    .confirmation__contents__box
      .confirmation__contents__box__head
        購入内容の確認
      .confirmation__contents__box__items
        .confirmation__contents__box__items__inner
          .confirmation__contents__box__items__inner__box1
            .confirmation__contents__box__items__inner__box1__image
              = image_tag "a007.png", size: "80x80"
            .confirmation__contents__box__items__inner__box1__detail
              .confirmation__contents__box__items__inner__box1__detail__name
                %p サロンドアルファードファーハンドバッグ
              .confirmation__contents__box__items__inner__box1__detail__price
                %p ¥5000 (税込み)送料込み
      .confirmation__contents__box__info
        .confirmation__contents__box__info__paybox
          .confirmation__contents__box__info__paybox__pay
            %p 支払い金額
          .confirmation__contents__box__info__paybox__money
            %p ¥5000
        .confirmation__contents__box__info__paybox__point
          %p □ ポイントを使用 (所持ポイント: P0)

        .confirmation__contents__box__info__methodbox
          .confirmation__contents__box__info__methodbox__method
            %p 支払い方法
          .confirmation__contents__box__info__methodbox__registration
            = link_to "➕登録してください", "/cards/new" , class: 'aaa'

        .confirmation__contents__box__info__addressbox
          .confirmation__contents__box__info__addressbox__deli
            %p 配送先
          .confirmation__contents__box__info__addressbox__change
            = link_to "変更する", '/#' , class: 'bbb'
        .confirmation__contents__box__info__individual
          %p 〒123-4567
          %p aaa県 bbb市 ccc町123
          %p あいう えお 
        .confirmation__contents__box__info__purchase
          .confirmation__contents__box__info__purchase__button
          = form_tag(action: :pay, method: :post) do
            = submit_tag "購入する", class: 'ccc'

  .confirmation__footer
    .confirmation__footer__content
      = link_to 'プライバシーポリシー', '/#', class: 'hoge-last'
      = link_to 'フリマ利用規約', '/#', class: 'hoge-last'
      = link_to '特定商取引に関する表記', '/#', class: 'hoge-last'
      %br
      = image_tag "logo-white.png", size: "185x49", class: 'hoge-last'
      %br
      %small © FURIMA, Inc.
