= render 'layouts/header'

.top-show-main
  .top-show-main__middle
    .top-show-main__middle__name
      = @product.name
    .top-show-main__middle__item-box
      .top-show-main__middle__item-box__main
        -# = image_tag @images[0].src.url
        = image_tag "#{@images[0].src}"
      .top-show-main__middle__item-box__left
        -# = image_tag @images[1].src.url, size: "140x77", class: 'pic-left'
        -# = image_tag @images[2].src.url, size: "140x77", class: 'pic-left'
        -# = image_tag @images[3].src.url, size: "140x77", class: 'pic-left'
    .top-show-main__middle__price
      .top-show-main__middle__price__main
        ¥ 
        = @product.price
      .top-show-main__middle__price__sub
        (税込)送料込み
      .top-show-main__middle__price__box1
        .top-show-main__middle__price__box1__purchase 
          - if user_signed_in? && current_user.id == @product.user_id
            = link_to "商品の編集", edit_product_path(current_user),class: "btn1"
            %br/
            %br/
            %br/
            or
            %br/
            %br/
            %br/
            -# = link_to "商品の削除", root_path, method: :destroy ,class: "btn2"
            -# = link_to "商品の削除", product_path(params[:id]), method: :delete, class:"btn2"
            = link_to '削除', "/products/#{@product.id}", method: :delete, class:"btn2"
          - else  
            = link_to "購入画面に進む",  products_purchase_path, class: "btn1"
    .top-show-main__middle__title
      = @product.name
    .top-show-main__middle__big-table
      %table.top-show-main-table
        %tr.top-show-main-record
          %th.top-show-main-head
            出品者
          %td.top-show-main-date
            hoge
        %tr.top-show-main-record
          %th.top-show-main-head
            カテゴリー
          %td.top-show-main-date
            = link_to 'メンズ', '/#/', class: 'table-category'
            %br
            = link_to 'ジャケット/アウター', '/#/', class: 'table-category'
            %br
            = link_to 'ノーカラージャケット', '/#/', class: 'table-category'
        %tr.top-show-main-record
          %th.top-show-main-head
            商品説明
          %td.top-show-main-date
            = @product.text
        %tr.top-show-main-record
          %th.top-show-main-head
            商品の状態
          %td.top-show-main-date
            = @product.conditions
        %tr.top-show-main-record
          %th.top-show-main-head
            配送料の負担
          %td.top-show-main-date
            = @product.delivery_charge
        %tr.top-show-main-record
          %th.top-show-main-head
            発送元の地域
          %td.top-show-main-date
            = @product.prefecture
        %tr.top-show-main-record
          %th.top-show-main-head
            発送日の目安
          %td.top-show-main-date
            = @product.delivery_day
    .top-show-main__middle__option
      %li.top-show-main__middle__option__left
        お気に入り
      %li.top-show-main__middle__option__right
        = link_to '不適切な商品の通報', '/#/', class: 'report-btn'
  .top-show-main__comment-box
    .top-show-main__comment-box__main
      .top-show-main__comment-box__main__center
        .top-show-main__comment-box__main__center__super-area
          = form_for "aaa" do |f|
            = f.text_area :content, class: 'top-show-main__comment-box__main__area'
        .top-show-main__comment-box__main__attention
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .top-show-main__comment-box__main__comment-btn
          コメントする
  .top-show-main__next
    %li.top-show-main__next__left
      = link_to '< 前の商品', '/#/', class: 'back-next-btn'
    %li.top-show-main__next__right
      = link_to '> 次の商品', '/#/' , class: 'back-next-btn'
  .top-show-main__more
    = link_to 'メンズをもっと見る', '/#/', class: 'more-mens'
= render 'layouts/footer'