= render 'layouts/notifications'
= render 'layouts/header'
.top-show-main
  .top-show-main__middle
    .top-show-main__middle__name
      = @product.name
    .top-show-main__middle__item-box
      .top-show-main__middle__item-box__main
        = image_tag @product.images[0].src.url, size: "560x346"
      .top-show-main__middle__item-box__left
      - @images.each do |image|
        = image_tag image.src.url, size: "114x85", class: "aaaaa"
    .top-show-main__middle__price
      .top-show-main__middle__price__main
        ¥
        = @product.price
      .top-show-main__middle__price__sub
        (税込)送料込み
    .top-show-main__middle__box1
      .top-show-main__middle__box1__purchase
        - if user_signed_in? && current_user.id == @product.user_id
          = link_to "商品の編集", edit_product_path(@product),class: "btn1"
          %br/
          %br/
          or
          %br/
          %br/
          = link_to '削除', "/products/#{@product.id}", method: :delete, class:"btn2"
        - elsif @product.buyer_id.present? 
          .disabled-button
            売り切れました
        - else
          = link_to "購入画面に進む",  purchase_product_path, class: "btn1"
            
    .top-show-main__middle
    .top-show-main__middle__big-table
      %table.top-show-main-table
        %tr.top-show-main-record
          %th.top-show-main-head
            出品者
          %td.top-show-main-date
            = @user.nickname
        %tr.top-show-main-record
          %th.top-show-main-head
            カテゴリー
          %td.top-show-main-date
            = @product.category.name
        %tr.top-show-main-record
          %th.top-show-main-head
            商品説明
          %td.top-show-main-date
            = @product.text
        %tr.top-show-main-record
          %th.top-show-main-head
            商品の状態
          %td.top-show-main-date
            = @product.conditions
        %tr.top-show-main-record
          %th.top-show-main-head
            配送料の負担
          %td.top-show-main-date
            = @product.delivery_charge
        %tr.top-show-main-record
          %th.top-show-main-head
            発送元の地域
          %td.top-show-main-date
            = @product.prefecture
        %tr.top-show-main-record
          %th.top-show-main-head
            発送日の目安
          %td.top-show-main-date
            = @product.delivery_day
    .top-show-main__middle__option
      %li.top-show-main__middle__option__left
        お気に入り
      %li.top-show-main__middle__option__right
        = link_to '不適切な商品の通報', '/#/', class: 'report-btn'
  .top-show-main__comment-box
    .top-show-main__comment-box__main
      .top-show-main__comment-box__main__center
        .top-show-main__comment-box__main__center__super-area
          = form_for "aaa" do |f|
            = f.text_area :content, class: 'top-show-main__comment-box__main__area'
        .top-show-main__comment-box__main__attention
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .top-show-main__comment-box__main__comment-btn
          コメントする
  .top-show-main__next
    %li.top-show-main__next__left
      = link_to '< 前の商品', '/#/', class: 'back-next-btn'
    %li.top-show-main__next__right
      = link_to '> 次の商品', '/#/' , class: 'back-next-btn'
  .top-show-main__more
    = link_to 'メンズをもっと見る', '/#/', class: 'more-mens'
= render 'layouts/footer'










