.TopPageFooter
  %ul.TopPageFooter1
    %li.F1
      %h1.AboutFURIMA{style: 'padding: 70px 0 12px; text-align: center; font-weight :bold; font-size: 20px'}
        FURIMAについて
      %ul 
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "会社概要", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "プライバシーポリシー", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "FURIMA規約", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "ポイントに関する規約", "#"
    %li.F2
      %h1.SeeFURIMA{style: 'padding: 70px 0 12px; text-align: center; font-weight :bold; font-size: 20px'}
        FURIMAを見る
      %ul 
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "カテゴリー一覧", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "ブランド一覧", "#"
    %li.F3
      %h1.HelpGuide{style: 'padding: 70px 0 12px; text-align: center; font-weight :bold; font-size: 20px'}
        ヘルプ＆ガイド
      %ul 
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "FURIMAガイド", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li{style: 'padding-top: 10px; text-align: center'}
          = link_to "お知らせ", "#"
.WhiteFURIMAicon
  = image_submit_tag "logo-white.png", height:"47px", width: "160px"
  %p.sub © FURIMA

%button.fixed_btn
  %h1 出品する
  = link_to new_product_path do
    = image_tag "icon_camera.png", height: "62%", width: "62%"
    
